.admin-dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboard-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-details,
  .shelter-details {
    flex: 1;
  }
  
  .user-details > span,
  .shelter-details > span {
    display: block;
    margin-bottom: 5px;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .delete-button svg {
    margin-right: 5px;
  }

  
  